{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div class="row">
            <div class="col-lg-9 pr-0">
                <h2>{{ post.title }}</a></h2>
            </div>
            <div class="col-lg-3">
                <a class="btn" id="edit-btn" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil" id="pencil-btn"></span></a>
            </div>
        </div>
        {% if post.published_date %}
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}        